<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <meta charset="UTF-8">
    <title>Restaurant Tracker</title>
</head>
<br>
<br>
<center><h1>Please Login or Sign Up</h1></center>
<body>
<br>
<br>
<center><form action="/login" method="post">
    <input type="text" name="username" placeholder="Username"/>
    <input type="password" name="password" placeholder="Password"/>
    <button type="submit">Login</button>
</form>
</center>
</body>
</html>